@import '../../../styles/variables.scss'; 

.themeBgDark3 {
  background-color: $bgNav; 
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  padding:0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1430px; 
  width: 100%; 
  margin: 0 auto; 
}

.logo {
  height: 55px; 
  object-fit: contain;
}

.container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap:1.2rem  
  
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdown {
  position: relative;

  .button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .dropdownContent {
    display: block; 
    position: absolute;
    display:flex;
    flex-direction: column;
    gap:3px;
    right: 0; 
    top:3rem;
    background-color: $bgNav;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;

    a {
      color:$colorInput;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  }
}
.show {
  display: block; 
}


@media (min-width: 1430px) {
  .container-fluid {
    max-width: 1430px; 
  }
}