@import "../../../styles/variables.scss";

.table {
  font-size: 14px;
  margin-top: 52px;
  border-collapse: separate; 
  border-spacing: 3px; 
  text-align: center;
  color: $white;
  background-color: $bgNav;
  max-width: 1000px;
  width: 100%; 



  th,
  td {
    background-color: $bgInput;
    text-align: center;
    color: $white;
    padding: 6px 8px;
  }

  th {
    position: relative; 

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px; 
      border-bottom: 2px solid $strongRed;
    }
  }
}
