@import "../../../styles/variables.scss";
.select {
  background: $bgInput 0 0 no-repeat padding-box;
  opacity: 1;
  border: 0;
  width: 100%;
  padding: 7px 17px;
  color: $colorInput;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 10px top 50%;
  background-size: 14px;
  cursor: pointer;
}
.select_group {
  display: flex;
  flex-direction: column;
}

.full_size {
  width: 100%;
}

.option {
  cursor: pointer;
}

.option:hover {
  background-color: $strongRed;
  color: $white;
}

.description {
  font-weight: bold;
  text-transform: uppercase;
  color: $inactive;
  padding-left: 5px;
}
