@import "../../styles/variables.scss";

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 6rem auto;
    padding: 20px;

    .title{
        color:$white;
        padding:3rem 2rem;
    }

    .form {
        width: 100%;
        
    }
}

.inputIconContainer {
    color:$white;
    position: relative;
    display: flex;
    align-items: center;
}

.passwordIcon {
    position: absolute;
    right: 10px;
    top: 42px;
    cursor: pointer;
}
