@import '../../../styles/variables.scss';
.p {
  margin: 0;
  padding: 0;
  font-family: Catamaran, sans-serif;
}
.white {
  color:$white;
}

.gray {
  color: $inactive;
}
.red {
  color: $strongRed;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.light {
  font-weight: lighter;
}