@import '../../../styles/variables.scss'; 

.container {
  margin: 3rem 1rem 0;
  max-width: 600px;
}

.title {
  color:$colorInput;
  margin-bottom: 1rem; 
}

.form {
  display: flex;
  flex-direction: column;
  gap:0.3rem
}

.submitButton {
  align-self: flex-end; 
  margin-top: 0.5rem; 
}
