$white: #f7f7f7;
$strongRed: #e02635;
$lightRed: #ff3f4f;
$colorInput: #f7f7f7;
$bgInput: #292a2b;
$inactive: #cfcfcf;
$grey: #9e9e9e;
$bgNav: #1e1e1f;
$navBorder: #202122;
$sectionContent: #222324;
$blue: #0b8bd4;
$iconGrey: #4d4d4d;