@import '../../../styles/variables.scss'; 

.container {
    max-width: 1430px;
    height: 72px;
    margin-bottom: 3px;
    background-color: $bgInput;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.link {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    line-height: 72px;
    padding: 0 1.5rem;

    &:hover {
        text-decoration: none;
        background-color: $strongRed;
        
    }
}
.activeLink {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    line-height: 72px;
    padding: 0 1.5rem;
    border-bottom: $strongRed solid 3px;
}

