@import "../../../styles/variables.scss";

.button {
  border: 0;
  color: $white;
  padding: 6px 15px;
  letter-spacing: 0;
  font: normal normal normal 16px/27px Catamaran;
  cursor: pointer;
  opacity: 1;
  font-weight: 200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 32px;
  position: relative;
  transition: background-color 0.4s, filter 0.2s;

  &:hover {
    filter: brightness(70%);
  }

  &:focus-visible {
    outline: 2px solid $lightRed;
  }

  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }

  &.active {
    background-color: $strongRed;
  }
  &.fullWidth {
    width: 100%;

  .loading {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 100%;
  }
  
}


  .loading_text {
    opacity: 0;
  }
}
