@import '../../../styles/variables.scss';
.sidebar {
   
    background-color: $bgInput;
    width: 250px; 
    padding: 15px; 
    display: flex;
    flex-direction: column;
    
    align-items: center;
     @media (max-width: 992px) {
        width: 100%;
        max-width: 1168px;
    }
    
}
