@import '../../../styles/variables.scss'; 

.themeBgDark3 {
  background-color: $bgNav; 
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
    padding:0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1430px; 
  width: 100%; 
  margin: 0 auto; 
}

.logo {
  height: 55px; 
  object-fit: contain;
}

.logoutContainer {
  margin-left: auto;
}

@media (min-width: 1430px) {
  .container-fluid {
    max-width: 1430px; 
  }
}
