@import '../../../styles/variables.scss'; 

.container{
    background-color: $bgInput;
}
.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1430px;
    padding: 15px 20px;
    background-color: $bgInput;
}

.searchbar input {
    width: 365px;
    background-image: url("../../../assets/icons/magnifier.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-color: $bgNav;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
}

.searchbar input::placeholder {
    color: $iconGrey;
}

.searchbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    padding: 12px 20px;
    border: none;
    color: $colorInput;
    background-color: $bgNav;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    margin-top: 0;
    

    &:hover {
        background-color: $strongRed;
    }
}

.divider{
    border-bottom: 3px solid $sectionContent;
    height:4px;
    margin:0 20px;
    padding:0 22px;
}
